DB_HOST=localhost
DB_PORT=3306
DB_NAME=your-database
DB_USER=your-user
DB_PASSWORD=your-password

ADDRESS=localhost
PORT=8080

TIME_OUT_LIMIT=10

JWT_SECRET_KEY=a-string-secret-at-least-256-bits-long
JWT_EXP_TIME=1