DB_HOST=localhost
DB_PORT=3306
DB_NAME=your-database
DB_USER=your-user
DB_PASSWORD=your-password
DB_ROOT_PASSWORD=your-root-password

ADDRESS=localhost
PORT=8081

TIME_OUT_LIMIT=10

JWT_SECRET_KEY=a-string-secret-at-least-256-bits-long
JWT_EXP_TIME=1

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_TOKEN=your-supabase-service-role-token
SUPABASE_BUCKET=your-storage-bucket
